body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

h1 {
    text-align: center;
    margin: 1rem 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

label {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

input[type="text"],
input[type="date"] {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

th,
td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

th {
    text-align: left;
}

td {
    text-align: center;
}

td button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #f44336;
    font-size: 1.5rem;
}